/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
    background-color:rgb(244 244 245);
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.sm\:hidden {
    display: none !important;
}


@layer base{
    .li{
        font-family: "serif";
        text-transform: uppercase;
        color: whitesmoke;
    } 
    .li :hover{
        color: tan;
        text-decoration: underline;
    }
    .link :hover{
        color: tan;
        text-decoration: underline;
    }
   
}
@layer component{
  
    .neon{
        font-family:"serif";
        color: white;
        text-transform: uppercase;
        text-shadow: 
            0 0 5px #ff80c0, 
            0 0 15px #ff80c0, 
            0 0 20px #ff80c0, 
            0 0 40px #ff40a0, 
            0 0 60px #ff40a0, 
            0 0 10px #ff40a0, 
            0 0 98px #ff0000;
    }
    .neon-img{
        filter: 
        drop-shadow(0 0 5px #007777)
        drop-shadow(0 0 16px #007777)
        drop-shadow(0 0 20px #00FFFF) 
        drop-shadow(0 0 5px #00FFFF) 

       
    }
    .neon-yellow{
        filter: 
        drop-shadow(0 0 5px #777700) 
        drop-shadow(0 0 16px #FFFF00) 
        drop-shadow(0 0 20px #FFFF00) 
        drop-shadow(0 0 60px #FFFF00)
    }

    .neon-green{
        filter:
        drop-shadow(0 0 5px rgb(10, 70, 10))
        drop-shadow(0 0 5px #00ff00)
        drop-shadow(0 0 15px #00ff00) 
        drop-shadow(0 0 20px #00ff00)
        drop-shadow(0 0 60px #00e600) 
        
        
    }

    .work{
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        padding: .5rem;
        align-items: center;
        border: solid 3px blue; 
    }
    .work-img{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 36vh;
        height: auto;
        align-items: center;
    }
    .work-img img{
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: contain;
    }

}